form {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

form input {
    min-width: 30%;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.3rem;
    border: none;
    background: white;
}

form button {
    color: #0093E9;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: #0093E9;
}

form select {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    margin-left: 1rem;
    outline: none;
    min-width: 30%;
}