.displayTime {
    color: #fff;
    font-size: 3rem;
}

.lengthDisplay {
    color: #fff;
}

.time-sets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    width: 300px;

}

.length-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.timer-button {
    margin: 0 1rem 0 1rem;
    min-width: 100px;

}

